#calculator {
    display: flex;
    justify-content: center;
}

#calculator-body {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    height: 400px;
    width: 400px;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
}

#display {
    display: flex;
    border: 5px solid black;
    width: 500px;
    display: flex;
    height: 50px;
    margin-bottom: 50px;
}

#all-buttons {
    display: flex;
    width: 400px;
}

#number-buttons-box {
    height: 250px;
    display: flex;
    border: 5px solid black;
    width: 275px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#operator-buttons-box {
    display: flex;
    border: 5px solid black;
    flex-direction: column;
    height: 250px;
    margin-left: auto;
}

.number-button {
    width: 75px;
    height: 70px;
    display: flex;
    margin: 6px;
    align-items: center;
    justify-content: center;
}

.operator-button {
    width: 75px;
    height: 60px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

